<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>View All Pelatihan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar('pelatihan')}"></nav>
    <br><br><br>
    <div class="container">
        <div class="text-center pt-5">
            <h2>Pelatihan yang Tersedia</h2>
        </div>
        <!-- Form untuk Pencarian Buku -->
        <form action="/pelatihan/searchTrainer" method="get" class="mb-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Cari buku berdasarkan judul" name="searchQuery">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Cari</button>
                </div>
            </div>
        </form>
        <!-- Filter untuk tipe pelatihan -->
        <form action="/pelatihan/filterPelatihanTrainer" method="get" id="filterForm" class="mb-3">
            <div class="filter-condition">
                <span>Urutkan Pelatihan</span>
                <select name="sortType" id="sortType">
                    <option value="All">Tampilkan Semua</option>
                    <option value="Gernastastaka">Gernastastaka</option>
                    <option value="Gernastastaba">Gernastastaba</option>
                </select>
            </div>
        </form>
        <div class="row row-cols-3">
            <!-- Iterasi dari indeks terakhir ke awal -->
            <div th:if="${!listPelatihan.isEmpty()}" th:each="index : ${#numbers.sequence(0, listPelatihan.size() - 1)}" class="col">
                <!-- Mendapatkan indeks dari listPelatihan, dimulai dari ukuran list - 1 hingga 0 -->
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title"
                            th:text="${listPelatihan[listPelatihan.size() - 1 - index].namaPelatihan}"></h5>
                        <p class="card-text">
                            <span th:switch="${listPelatihan[listPelatihan.size() - 1 - index].statusApproval}">
                                <span th:case="1" class="badge bg-warning">Requested</span>
                                <span th:case="2" class="badge bg-success">Approved</span>
                                <span th:case="3" class="badge bg-danger">Rejected</span>
                                <span th:case="4" class="badge bg-warning">Requested Delete</span>
                                <span th:case="5" class="badge bg-secondary">Done</span>
                                <span th:case="*"
                                    th:text="${listPelatihan[listPelatihan.size() - 1 - index].statusApproval}"></span>
                            </span>
                        </p>
                        <a type="button" class="btn btn-primary btn-sm"
                            th:href="@{/pelatihan/detail-trainer(id=${listPelatihan[listPelatihan.size() - 1 - index].idPelatihan})}">Detail</a>
                    </div>
                </div>
            </div>
            <div th:if="${listPelatihan.isEmpty()}" class="col">
                <p>Tidak ada pelatihan yang tersedia saat ini.</p>
            </div>
        </div>
        <div class="text-center m-3">
            <a type="button" class="btn btn-primary m-2" href="/pelatihan/add">Tambah Pelatihan</a>
            <a type="button" class="btn btn-md btn-primary" href="/">Home</a>
        </div>

        <script>
            document.getElementById("sortType").addEventListener("change", function() {
                document.getElementById("filterForm").submit();
            });
        </script>
    </div>
</body>

</html>