<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <title>User List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        .btn-custom-size {
            padding: 0.5rem 1rem;
            font-size: 1rem;
            width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar('user')}"></nav>
    <br><br><br>
    <div class="container">
        <div class="text-center pt-5">
            <h2>User Lists</h2>
        </div>
        <form action="/users/search-user" method="get" class="mb-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Cari Nama" name="searchQuery">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Cari</button>
                </div>
            </div>
        </form>
        <form action="/users/filter-user" method="get" id="filterForm" class="mb-3">
            <div class="filter-condition">
                <span>Urutkan Berdasarkan Peran</span>
                <select name="sortType" id="sortType">
                    <option th:if="${tipeRole == 'Trainee'}" value="Trainee">Trainee</option>
                    <option th:if="${tipeRole == 'Trainee'}" value="Community">Community</option>
                    <option th:if="${tipeRole == 'Trainee'}" value="Trainer">Trainee</option>
                    <option th:if="${tipeRole == 'Trainee'}" value="All">All</option>
                
                    <option th:if="${tipeRole == 'Trainer'}" value="Trainer">Trainer</option>
                    <option th:if="${tipeRole == 'Trainer'}" value="Trainee">Trainee</option>
                    <option th:if="${tipeRole == 'Trainer'}" value="Community">Community</option>
                    <option th:if="${tipeRole == 'Trainer'}" value="All">All</option>
                
                    <option th:if="${tipeRole == 'Community'}" value="Community">Community</option>
                    <option th:if="${tipeRole == 'Community'}" value="Trainee">Trainee</option>
                    <option th:if="${tipeRole == 'Community'}" value="Trainer">Trainer</option>
                    <option th:if="${tipeRole == 'Community'}" value="All">All</option>
                
                    <option th:if="${tipeRole == 'All'}" value="All">All</option>
                    <option th:if="${tipeRole == 'All'}" value="Trainee">Trainee</option>
                    <option th:if="${tipeRole == 'All'}" value="Community">Community</option>
                    <option th:if="${tipeRole == 'All'}" value="Trainer">Trainer</option>
                </select>
                
            </div>
        </form>
        
        <script>
            document.getElementById('sortType').addEventListener('change', function() {
                document.getElementById('filterForm').submit();
            });
        </script>
        
        <table class="table" id="userTable">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Nomor HP</th>
                    <th>Asal Sekolah</th>
                    <th>Peran</th>
                    <th>Status Akun</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user, iterationStatus : ${users}">
                    <td th:text="${iterationStatus.count}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.phoneNumber}"></td>
                    <td th:text="${user.school}"></td>
                    <td th:text="${user.role}"></td>
                    <td>
                        <span th:if="${user.isActive}">Aktif</span>
                        <span th:if="${not user.isActive}">Nonaktif</span></td>
                    <td>
                        <a type="button" class="btn btn-md btn-primary btn-custom-size"
                            th:href="@{/users/detail(id=${user.idUser})}">Detail</a>
                        <a type="button" class="btn btn-md btn-warning btn-custom-size"
                            th:href="@{/users/user-update(id=${user.idUser})}">Update</a>
                    </td>
                    
                </tr>
            </tbody>
            
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha384-K5qT8V9QpF18ag+OzqYj0Aj4g/sDvWfQLbY1GiRtlzl0KRnADbPk2K5im/+9aaTl"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-hA8sv6W54Cc0BhmBMK7xGvOv9+zQFBimBDIUaUM2aQfgCA/DqSlNL5vxB7QobZow"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-FjXHPDz3tBXWAja5tzhnBtHpF24JNA7WPQrNw7Jm3fZc9gG6hNp6y7vD8LCV5/6Y"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('#userTable').DataTable({
                "lengthMenu": [5, 10, 20]
            });
        });
    </script>
</body>

</html>
